body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
}

main {
    flex: 1 0 auto;
    padding-top: 2rem;
}

.card {
    margin-top: 2rem;
}

.brand-logo {
    font-size: 1.5rem !important;
}
